@font-face {
    font-family: nunito;
    src: url(../assets/font/nunito.ttf);
}

@font-face {
    font-family: fredoka;
    src: url(../assets/font/fredoka.ttf);
}

html {
    font-family: nunito;
}

h1 {
    color: white;
}

.slider_rounded {
    border-radius: 10px;
    margin-top: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a72608;
    border-radius: 10px;
    width: 1200px;
    padding: 10px 0;
}

.navbar_link {
    display: flex;
    padding-right: 10px;
}

.navbar_link ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
    gap: 10px
}

.navbar_link ul li a {
    text-decoration: none;
    color: white;
}

.navbar_logo {
    padding-left: 10px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(../../mainpage/asset/img/banner.jpg);
    width: 1200px;
    height: 400px;
    color: white;
}

.slider_overlay {
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color: black;
    opacity: 0.5;
}

.slider_text {
    text-align: center;
    padding: 0 100px;
    z-index: 3;
}