/*========= FONT ==========*/

@font-face {
    font-family: nunito;
    src: url(../assets/font/nunito.ttf);
}

@font-face {
    font-family: fredoka;
    src: url(../assets/font/fredoka.ttf);
}

input[type=email] {
    text-align: center;
    border: none;
    width: 200px;
    height: 15px;
    font-size: 15px;
    border-bottom: 2px solid white;
    background-color: #a72608;
    color: white;
}


/*========= CSS GLOBALE ==========*/

html {
    font-family: nunito;
}

hr {
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px 0px;
    width: 1200px;
    margin: 0 auto;
}


/*========= NAVABAR ==========*/

.navbar_container {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a72608;
    border-radius: 10px;
    width: 1200px;
    padding: 10px 0;
}

.navbar_logo {
    padding-left: 10px;
}

.navbar_logo img {
    border-radius: 50%;
}

.navbar_link {
    display: flex;
    padding-right: 10px;
}

.navbar_link ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
    gap: 20px;
}

.navbar_link ul li a {
    text-decoration: none;
    color: #E6EED6;
}


/*========= PHOTO  ==========*/

.photo {
    margin-top: 95px;
    background-color: purple;
    border-radius: 10px;
    text-align: center;
}


/*========= SECTION ==========*/

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.sub_section {
    border: 3px solid #a72608;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.sub_section-img {
    width: auto;
}

.sub_section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: auto;
}

.sub_section-text p {
    padding: 0px 40px;
    ;
}

.sub_section-text h3 {
    text-align: center;
}

.btn_section {
    padding: 10px;
    border-radius: 10px;
    background-color: #a72608;
    color: white;
    margin: 0px 40px;
}


/*========= NEWSLETTER ==========*/

.newsletter {
    display: flex;
    color: white;
    border-radius: 10px;
    background-color: #a72608;
}

.newsletter_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    width: 50%;
    text-align: center;
}

.newsletter_form h3 {
    margin: 0px;
}

.newsletter_form a {
    color: black
}

.newsletter_usercondition a {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.newsletter_photo {
    width: 50%;
    background-image: url(../assets/img/banner.jpg);
    opacity: 0.8;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*========= FOOTER ==========*/

.footer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #a72508;
    text-align: center;
}

.footer_logo {
    width: 33.3%;
}

.footer_link {
    width: 33.3%;
}

.footer_link ul li a {
    text-decoration: none;
    color: white;
}

.footer_social {
    width: 33.3%;
    color: white;
}

.footer_section ul {
    padding-left: 0px;
}

.footer_section ul li {
    list-style-type: none;
}

.social_link {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer_copyright {
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    background-color: #a72608;
}