/*SMARTPHONE PICCOLI*/

@media screen and (min-width: 300px) {
    body {
        font-size: 11px;
    }
}


/*TABLET*/

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .nav_container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .nav_link ul {
        display: flex;
        gap: 20px;
    }
    .jumbo_container {
        margin-top: 140px;
    }
}


/*PC */

@media screen and (min-width: 992px) {
    body {
        font-size: 15px;
    }
    /* ========= SECTION CONTAINER CSS =========*/
    .content {
        margin-top: 25px;
        display: flex;
        align-items: center;
    }
    .content img {
        width: 150px;
    }
    /*NASCONDE L'IMMAGINE FUORI DAL DIV CONTENT*/
    #mobile {
        display: none;
    }
    /*MOSTRA L'IMMAGINE DENTRO IL DIV CONTENT*/
    #desktop {
        display: block;
        margin-left: 20px;
    }
    .text h2 {
        text-align: center;
        margin: 0px 20px;
    }
}

@media screen and (min-width: 576px) {
    body {
        font-size: 14px;
    }
}