a {
    text-decoration: none;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

h1 {
    color: wheat;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    gap: 20px;
}

.navbar_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 500px;
    background-color: #ed6a5a;
}

.jumbotron_container {
    margin-top: 180px;
    height: 400px;
    background-image: url(../assets/images/dragon.jpeg);
    background-size: cover;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    background-color: black;
    opacity: 0.8;
}

.jumbo_text {
    text-align: center;
}

.jumbo_text p {
    padding: 0px 100px;
    color: white;
}

.section_container {
    background-color: chocolate;
}

.photo_container {
    background-color: brown;
}

.newsletter_container {
    background-color: darkgreen;
}

.footer_container {
    background-color: hotpink;
}