/* ========= GLOBAL CSS =========*/

html {
    font-family: "Monseract Regular", arial, sans-serif;
    font-size: 20px;
}

body {
    background-color: #14213d;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 5px 0px;
}

li {
    list-style: none;
    padding: 5px 0px;
}

input[type="email"] {
    text-align: center;
    border: none;
    width: 200px;
    height: 15px;
    font-size: 15px;
    border-bottom: 2px solid white;
    background-color: #e69513;
    color: white;
}

input[type="submit"] {
    border-radius: 5px;
    background-color: #c17005;
    color: white;
    border: 0px;
    font-weight: bold;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Monseract Light";
}

::placeholder {
    color: white;
}

.main_container {
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 100%;
}


/* ========= COMMON CSS =========*/

.flex {
    display: flex;
}

.b_round {
    border-radius: 15px;
}

.space {
    width: 95%;
    margin: 0 auto;
}

.main-color {
    background-color: #fca311;
}

.all_center {
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* ========= NAVBAR CSS =========*/

.nav_container {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
}


/* ========= JUMBOTRON CSS =========*/

.jumbo_container {
    height: 400px;
    margin-top: 240px;
    background-image: url(../assets/box-photo.jpg);
    background-size: cover;
}

.overlay {
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay p {
    padding: 0 15%;
}


/* ========= SECTION CONTAINER CSS =========*/

.section_container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.sub_section {
    background-color: #e5e5e5;
}

.sub_section p {
    text-align: justify;
    padding: 0 20px;
}

.text {
    margin: 0px 20px;
}


/*NASCONDE IMMAGINE DENTRO IL DIV NELLA VISIONE DESKTOP*/

#desktop {
    display: none;
}

.btn_section {
    margin: 35px;
    z-index: 1;
}

.btn {
    border-radius: 5px;
    text-decoration: none;
    background-color: #fca311;
    color: white;
    font-weight: bold;
    padding: 20px;
}


/* ========= SLIDER CSS =========*/

.slider_container {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    background-color: #e5e5e5;
    width: 80%;
}

.slider_section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider_section img {
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.slider-text {
    width: 180px;
    margin: 20px;
    font-size: 14px;
}


/* ========= NEWSLETTER CSS =========*/

.newsletter_container {
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}

.btn_form {
    margin: 20px 0px;
}

.newsletter_container h3 {
    padding: 10px 20px;
}


/* ========= FOOTER CSS =========*/

.footer_section {
    flex-direction: column;
    gap: 10px;
}

.upper-footer {
    justify-content: space-evenly;
}

.footer-social ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.under-footer hr {
    width: 80%;
}

.under-footer p {
    font-weight: bold;
    text-align: center;
    color: white;
}