/* ========== RESET  ======*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: segoe_normal, Verdana, Arial, sans-serif;
    font-size: 15px;
}

html,
body {
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.main_container {
    width: 100%;
    margin: 0 auto;
}


/* ========= NAVBAR ========== */

.nav_container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}


/* ===== NAVBAR SUPERIORE =====*/

.navbar-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    font-size: 13px;
}

.navbar-left {
    display: flex;
}

.navbar-left img {
    margin-right: 15px;
}

.main-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.down-arrow {
    margin-left: 8px;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
}

.main-link li {
    padding: 0 10px;
}

.right-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-link li {
    padding: 0 10px;
}

.right-link a {
    vertical-align: middle;
}

.right-link img {
    vertical-align: middle;
    margin-left: 5px;
}


/* ===== NAVBAR INFERIORE =====*/

#followme {
    z-index: 1;
    position: sticky;
    top: 0px;
}

#down_size {
    height: 64px;
}

#sub_navbar {
    font-family: segoe_semibold;
    font-size: 15px;
}

#sub_navbar li {
    margin: 0px 40px 0px 0px;
}

#navspace {
    margin-right: 40px;
}

.btn-nav {
    color: #9bf00b;
    padding: 5px 22px;
    border: 1px solid #9bf00b;
    font-family: segoe_pro;
    font-weight: bold;
    font-size: 15px;
}


/* ==========  EXPLORER ========== */

.explorer_container {
    margin-top: -118px;
    background-image: url(../assets/desktop/section/intro/bg-enter.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.content_wrapper {
    width: 90%;
    margin: 0 auto;
}

.content {
    height: 90vh;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.content h1 {
    font-family: segoe_pro;
    font-size: 62px;
    color: white;
}

.content p {
    color: white;
    font-size: 18px;
    padding: 25px 0px 3px 0px;
}

.btn_explorer {
    margin-top: 25px;
}

.btn_explorer a {
    padding: 5px 22px;
    background-color: #9bf00b;
    color: #054b16;
    font-weight: bold;
    font-family: segoe_pro;
}

#condition-text {
    font-size: 15px;
    font-style: italic;
}

#link-condition {
    color: #9bf00b;
}

.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/desktop/section/benefits/masterchief-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130vw;
}

.slider h1 {
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: -50px;
}

.game_slider-wrapper {
    width: 90%;
    margin: 0 auto;
}

.game_slider {
    display: flex;
    height: auto;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    color: white;
}

.game_slider::-webkit-scrollbar {
    display: none;
}

.game_slider img {
    width: 267px;
    height: 444px;
    object-fit: contain;
}

.game_description {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.game_description h3 {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 22px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: center;
}

.game_description span {
    width: 100%;
    font-size: 13px;
    padding: 10px 10px;
    margin-bottom: 22px;
    background-color: #333333;
    position: absolute;
    text-align: center;
}

#thrgame {
    margin-bottom: 59px;
}

.benefit_container h1 {
    font-size: 78px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: segoe_pro;
    margin-bottom: 20px;
}

.title-wrap {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.token-img {
    width: 70%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.left_side {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 35px;
}

.box-benefit img {
    width: 150px;
    margin-bottom: 10px;
}

.box-benefit p {
    font-size: 20px;
}

#resize {
    width: 70px;
}

.primeday-container h1 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: segoe_pro;
    font-size: 78px;
    color: #107c10;
}

.box_primeday {
    margin: -70px auto;
    width: 90%;
    background-color: #e6e6e6;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn_text {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 20px auto;
}

.btn_text a {
    font-family: segoe_pro;
    font-weight: bold;
    color: #054b16;
}

.text p {
    padding-top: 120px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.primeday_slider {
    display: flex;
}

.primeday-maintext {
    text-align: center;
}

.img-leftside {
    width: 50%;
}

.img-leftside img {
    width: 100%;
    margin-bottom: 50px;
}

.content-rightside {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-overview {
    display: flex;
    font-family: segoe_semibold;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    height: auto;
    width: 100%;
}

.game_info {
    height: 40%;
    width: 100%;
}

.game_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.game_info h1 {
    margin: 40px 0 0 0;
    max-width: 60%;
    color: black;
    font-size: 34px;
    font-family: segoe_bold;
    text-align: left;
}

.game_info h3 {
    font-size: 20px;
    font-family: segoe_bold;
}

#consolepc {
    background-color: #107c10;
    font-size: 13px;
    padding: 2px 5px;
    color: white;
}

#centerdot {
    vertical-align: middle;
}

#btn_game-info {
    font-family: segoe_pro;
    font-weight: bold;
    color: #054b16;
}

.ea-collaboration_container {
    display: flex;
    margin: 0 auto;
    margin-top: 170px;
    width: 90%;
    height: 500px;
    background-image: url(../assets/desktop/section/eaplay/the_sims-bg.jpeg);
    background-repeat: no-repeat;
    background-repeat: cover;
    background-size: 100%;
}

.left_side_ea-wrapper {
    width: 90%;
    margin: 0 auto;
}

.left_side_ea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-evenly;
    width: 50%;
}

.left_side_ea p {
    color: white;
    font-size: 20px;
}

.ea-collaboration_container img {
    width: 350px;
    margin-top: 100px;
}

.left_side_ea a {
    padding: 5px 22px;
    background-color: #9bf00b;
    color: #054b16;
    font-weight: bold;
    font-family: segoe_pro;
}

.genre_container {
    width: 100%;
    margin-top: 100px;
}

.genre-info {
    width: 90%;
    margin: 0 auto;
    background-color: #333333;
    text-align: center;
}

.genre-info h1 {
    width: 50%;
    margin: 0 auto;
    font-size: 78px;
    color: white;
    font-family: segoe_pro;
    text-align: center;
}

.genre-wrapper {
    display: flex;
    margin-top: -75px;
}

.genre_description {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.genre_description img {
    width: 100%;
    height: auto;
}

.genre-info_text {
    position: relative;
}

.info-genre {
    position: absolute;
    color: white;
    text-align: center;
}

.info-genre p {
    margin-bottom: 30px;
    margin-top: 20px;
}

.info-genre img {
    width: 50px;
}

.genre_info2 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #333333;
    text-align: center;
}

.genre_info2 p {
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    font-size: 18px;
    color: white;
}

.genre_info2 a {
    font-family: segoe_pro;
    font-weight: bold;
    color: #9bf00b;
    margin: 10px 0;
}

.stream_container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: column;
}

.first-section-stream {
    display: flex;
    width: 100%;
}

.second-section-stream {
    background-image: url(../assets/desktop/section/cloudgame/console-bg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 100px;
    width: 100%;
}

.all_device {
    width: 50%;
}

.all_device img {
    width: 100%;
}

.text_stream {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.text-stream-wrapper {
    width: 75%;
}

.text-stream-wrapper h1 {
    margin-bottom: 20px;
    font-family: segoe_bold;
    font-size: 46px;
}

.text-stream-wrapper p {
    font-size: 18px;
}

.second_section_text-wrapper {
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.second_section_text-wrapper h1 {
    font-size: 46px;
    font-family: segoe_bold;
}

.second_section_text-wrapper p {
    font-size: 15px;
}

.second_section_text-wrapper a {
    color: #107c10;
    font-family: segoe_pro;
}

.feature_container {
    width: 90%;
    margin: 0 auto;
}

.main-text_feature {
    margin: 0 auto;
    width: 60%;
}

.main-text_feature h1 {
    font-size: 46px;
    text-align: center;
    font-family: segoe_bold;
    margin-bottom: 30px;
}

.feature_slider {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
}

.section_feature img {
    width: 40vw;
}

.section_feature h1 {
    padding-top: 30px;
    font-size: 34px;
    font-family: segoe_bold;
}

.section_feature p {
    font-size: 20px;
}

.section_feature {
    background-color: #e6e6e6;
}

.wrapper-feature {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.wrapper-feature a {
    margin-top: 20px;
    font-family: segoe_pro;
    font-weight: bold;
    color: #054b16;
}

.feature_slider::-webkit-scrollbar {
    display: none;
}